{# templates/form/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formulaire de contact</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Submit') }}</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
